<div div class="container-sm">
<form  #f="ngForm" (ngSubmit)="f.form.valid && agregarPersona()">
    <div class="form-group col-md-6">
      <label for="nombre" class="sr-only">Nombre</label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="nombreInput" required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="apellido" class="sr-only">Apellido</label>
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        class="form-control"
        [(ngModel)]="apellidoInput" required
      />
    </div>

    
    <div class="col">
      <button type="submit"  class="btn btn-outline-primary">
        Añadir
      </button>
    </div>
  </form>
</div>