<div class="box">
<form class="item" #f="ngForm" (ngSubmit)="f.form.valid && agregarPersona()">
    <div class="form-group col-md-2">
      <label for="nombre" class="sr-only">Nombre</label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="nombreInput" required
      />
    </div>
    <div class="form-group col-md-2">
      <label for="apellido" class="sr-only">Apellido</label>
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        class="form-control"
        [(ngModel)]="apellidoInput" required
      />
    </div>
    <div class="col">
      <button type="submit"  style="cursor: pointer;">
        +
      </button>
    </div>
  </form>
</div>